/*#018039*/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
body{
    background-image: url(../img/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.inicioLogin h3{
    text-align: center;
    border:1px solid #ccc;
    margin:0.5em;
    border-radius: 1em;
    width: 500px;
    margin: auto;
    background-color: #018039;
    color:#fff;
    padding:1em;
}

.form-login p{
    margin: 25px 0px 25px 0px;
}
.form-login{
    background-color: #fff;
    width: 500px;
    height: 600px;
    margin:auto;
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 1em;
    font-size: 18px;
    box-shadow: 10px 15px 40px #fff;

}
.form-login .logo{
    height: 260px;
    border-radius: 1em;
}
.form-login input{
    height: 25px;
    width: 98%;
    margin: 5px 0px 10px 0px
}
.form-login .titulo{
    width: auto;
}
.form-login select{
    width: 98%;
    margin: 5px 0px 10px 0px;
    height: 25px;
}
.form-login span{
    padding: 0px 10px 0px 10px;
}
.body-index{
    background-image: none;
}
.contenedor-principal{
    background-color: #018039;
    height: 80px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.contenedor-principal img{
    height: 75px;
    width: 128px;
    border-radius: 7px;
}
.contenedor-principal input{
    width: 800px;
    height: 45px; 
    margin-top: 10px;
    border-radius: 7px;
}
.contenedor-principal span{
    height: 45px; 
    margin: 25px 30px 0px 0px;
    color: rgba(255, 255, 255, 1);
}
.menu-principal{
    background-color: #018039;
    height: 30px;
    border: 1px solid black;
    padding: 0px 10px 0px 10px;
}
.menu-principal ul{
    display:flex;
    justify-content: space-between;
    padding: 5px;

}
.menu-principal li{
    list-style: none;
}
.menu-principal a{
    text-decoration: none;
    color: #fff;
    padding:10px 10px;
}
.carrousel-principal{
    background-color: #fff;
    border-bottom: 1px solid black;
    text-align: center;
}
.carrousel-principal img{
    width: 98%;
    height: 300px;
}
.categorias{
    background-color: #fff;
}
.categorias h2{
    background-color: #fff;
    padding: 15px 0px 15px 0px;
    text-align: center;
    text-decoration: underline;
}
.categorias a{
    background-color: #018039;
    width: 25%;
    margin: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;

}
.mas-vendidos h2{
    background-color: #fff;
    padding: 15px 0px 15px 0px;
    text-align: center;
    text-decoration: underline;
}
.mas-vendidos-item {
    display: flex;
    justify-content: space-between;

}
.mas-vendidos-item img{
    margin:0px 30px 0px 30px;
    height: 300px;
    width: 400px;
    border-radius: 7px;
}
.metodos-pago{
    background-color: #fff;
    text-align: center;
}
.metodos-pago h2{
    padding: 15px 0px 15px 0px;
    text-decoration: underline;
}
.footer-principal{
    background-color: #018039;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    margin-top: 15px;
    padding-top: 15px;
    justify-content: space-around;
}
.footer-principal img{
    height: 60px;
    width: 100px;
    border-radius: 7px;
    text-align: left;
    margin: 5px;
}
.footer-principal p{
    position: relative;
    bottom: 90px;
    left: 110px;
    z-index: 1;
    padding-top: 20px;
}
.footer-principal a{
    color: #fff;
    text-decoration: none;
}
.tarjeta{
    
    position: absolute;
    top: 450px;
    left: 500px;
    z-index: 2;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #0e502a;
    width: 350px;
    opacity: 1;
    box-sizing: border-box;
    background-color: #018039;
    color: #fff;
    margin: auto;
    padding: 30px;
    box-shadow: 7px 13px 37px #000;
    
}

.tarjeta h2{
    font-size: 22px;
    margin-bottom: 10px;
}
.clase-inputs{
    width: 90%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid;
    font-size: 18px;
}
.tarjeta .boton{
    width: 30%;
    background-color: #0e502a;
    border-radius: 4px;
    border: none;
    padding: 10px;
    color: #fff;
    margin-left: 64%;
    font-size: 16px;
}
.tarjeta .boton:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.6s;
}
.tarjeta .flex{
    display: flex;
    gap: 10px;
    margin-right: 16px;
}
.tarjeta .x{
    width: 40px;
    height: 40px;
    background-color: #0e502a;
    border-radius: 50%;
    transition: all 0.5s;
    background-image: url(../img/circle-xmark-regular.svg);
    background-size: cover;
    position: absolute;
    left: 320px;
    bottom: 350px;
}
.tarjeta .x:hover{
    background-color: #fff;
    transform: scale(1.1);
    transition: all 0.6s;
}
.tituloMiCuenta{
    margin: 50px 100px 50px 100px;
    font-size: large;
}

.form-cuentas{
    position: relative;
    border: 2px solid darkgrey;
    border-radius: 5px;
    margin: 0px 100px 50px 100px;
    width: 50%;
}

.form-cuentas h1{
    font-size: large;
    margin: 20px 0px 20px 0px;
}

.form-cuentas table{
    border-collapse: collapse;
    width: 100%;
}
.form-cuentas  td, th,tr {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }
  
.form-cuentas  tr:nth-child(even) {
    background-color: #dddddd;
  }

.form-cuentas a{
    margin: 20px 0px 20px 0px; 
    position: absolute;
    top: 6px;
    right: 16px;
}
.form-cuentas input{
    border-radius: 5px;
}
.form-cuentas i{
    margin-left: 20px;
}
.form-cuentas input:hover{
    background-color: #018039;
    text-shadow: #000;
    color: #fff;
}
.tituloCategoria1{
    text-align: center;
    font-size: large;
    text-decoration: underline solid;
    margin: 30px 0px 30px 0px;
}
.portadaCategorias{
    position: relative;
    top: 100px;
}
.portadaCategorias ul{
    display:flex;
    justify-content: space-evenly;
    padding: 5px;
    margin-bottom: 245px;

}
.portadaCategorias li{
    list-style: none;
    padding: 60px;
    border: 2px solid grey;
    border-radius: 5px;
}
.portadaCategorias p{
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    position: relative;
    bottom: 90px;
}
.portadaCategorias .tartas{
    background-image: url(../img/tartas1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.portadaCategorias .viandas{
    background-image: url(../img/viandas-saludables-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.portadaCategorias .menuSemanal{
    background-image: url(../img/menu-semanal1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}
.categoriaProducto{
    position: relative;
    
}
.categoriaProducto ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.categoriaProducto li{
    margin: 20px;
    padding: 20px;
    position: relative;
    border: 2px solid grey;
    height: 200px;
    width: 200px;
    border-radius: 5px;

}
.categoriaProducto label{
    margin:0;
    background-color: white;
    position: absolute;
    top: 190px;
    padding: 2px;
    width: inherit;
    font-size: larger;
}

.categoriaProducto p{
    background-color: rgba(187, 166, 166, 0.911);
    position: absolute;
    top: 150px;
    left: 190px;
    border: 2px groove rgb(153, 148, 148);
    border-radius: 10%;
    padding: 2px;
    font-size: larger;
}

.categoriaProducto .tarta1{
    background-image: url(../img/tartas1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.categoriaProducto .tarta2{
    background-image: url(../img/tarta-calabaza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.categoriaProducto .tarta3{
    background-image: url(../img/tarta-de-choclo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.categoriaProducto .vianda1{
    background-image: url(../img/viandas-saludables-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.categoriaProducto .vianda2{
    background-image: url(../img/viandas-saludables-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.categoriaProducto .vianda3{
    background-image: url(../img/viandas-saludables-5.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}
.categoriaProducto .menu1{
    background-image: url(../img/menu-semanal1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}
.categoriaProducto .menu2{
    background-image: url(../img/menusemanal2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.categoriaProducto .menu3{
    background-image: url(../img/menu-semanal3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contactosItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contacto form{
    margin-top: 100px;
    width: 450px;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 7px;
    text-align: left;
}
.contacto form:hover{
    background-color: #01803893;
    transition: all 0.7s;
    box-shadow: 7px 13px 37px #000;
    color: #fff;
}
.contactosItem h2{
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
    padding: 20px;
}
.contacto input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton-Enviar{
    width: 30%;
    background-color: #0e502a;
    border-radius: 4px;
    border: none;
    padding: 10px;
    color: #fff;
    margin-left: 64%;
    font-size: 16px;
}
#boton-Enviar:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.6s;
    cursor: pointer;
    transform: scale(1.1);
}
.contacto2 {
    margin-top: 100px;
    width: 450px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 7px;
    position: relative;
    top: 110px;
    height: 300px;
}
.contacto2:hover{
    background-color: #01803893;
    transition: all 0.7s;
    box-shadow: 7px 13px 37px #000;
    color: #fff;
}
.contacto2 p{
    padding: 10px;
}
.contacto2 a{
    text-decoration: none;
    
}
.contacto2 p a{
    color: #000;
}
.contacto2 p a:hover{
    color: #fff;
    text-transform: uppercase;
}
.maps{
    height: 300px;
    padding: 10px;
    border-radius: 7px;
}
.maps:hover{
    background-color: #01803893;
    transition: all 0.7s;
    box-shadow: 7px 13px 37px #000;
}